<div class="contendeor">

    <app-header></app-header>
    
        <div class="contenedor_menu">
    
            <nav class="menu">
                <ul class="contenedor_opciones">
    
                    <li class="nav-item opcion">
                        <a class="nav-link" [routerLink]='["/menuEvaluador/home"]'>Home</a>
                    </li>
                    
                    <li class="nav-item opcion">
                        <a class="nav-link" [routerLink]='["/menuEvaluador/home"]'>Evaluar Solicitud</a>
                    </li>
                    
                    <li class="nav-item opcion">
                        <a class="nav-link" [routerLink]='["/menuEvaluador/consx1Evaluador"]'>Consultar Informacion Personal</a>
                    </li>
    
                      <li class="nav-item dropdown opcion">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Otros
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" [routerLink]='["/menuEvaluador/modEvaluador"]'>Modificar Informacion Personal</a></li>
                          <li><a class="dropdown-item" (click)="Inactivar()">Inactivar Cuenta</a></li>
                          <li><a class="dropdown-item" [routerLink]='["/loginC"]' (click)="salir()">Salir</a></li>
                        </ul>
                      </li>
    
                </ul>
            </nav>
    
        </div>
    
        <div class="contenedor_contenido">
            <router-outlet></router-outlet>
        </div>
    
    </div>