*{
    box-sizing: border-box;
    margin: 0%;
}

.titulo{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    color: #548080;
}

.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding-bottom: 60px;
}


.contenedor{
    width: 100%;
    min-height: 100vh;
    background-image: url("../../../../assets/undraw_inspection_re_tbt7.svg"), url("../../../../assets/undraw_solution_mindset_re_57bf.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top left, bottom right;
    padding-bottom: 60px;
    padding: 0.01%;
    
}

.contenedor_formulario{
    width: 40%;
    min-height: 500px;
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.61);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}



.formulario_1{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    
}

.formulario_2{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}


.contenedor_formulario{
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #a6acac;
    outline: none;
}

.input:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px dodgerblue;
}

.btn{
width: 100px;
color:dodgerblue;
border: 1px solid dodgerblue;
border-radius: 20px;
margin: 20px;

}
.btn:hover{
    
    color:rgb(255, 255, 255);
    border: 1px solid dodgerblue;
    background-color: dodgerblue;

}

.parrafo{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 15px;
}

.parrafo2{
    font-size: 20px;
}